$color--normal: rgba(0, 0, 0, 0.75);
$color--secondary: rgba(0, 0, 0, 0.6);
$color--dark: rgba(0, 0, 0, 0.9);
$color--primary: #111;
$color--primary-visited: #0091ca;
$color--white: #fff;

$bg--normal: #fff;
$bg--secondary: #f3f6f8;
$bg--primary: #004b7c;
